<h1>Contact</h1>

<form action="https://api.web3forms.com/submit" method="POST">
  <input type="hidden" name="access_key" value="85650745-798b-4745-8ed7-6b2afc2bcca6">

  <div class="form-group">
    <label>Email address</label>
    <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" required>
  </div>

  <div class="form-group mt-3">
    <label>Title</label>
    <input type="text" name="text" class="form-control" placeholder="Enter title" required>
  </div>

  <div class="form-group mt-3">
    <label>Text</label>
    <textarea type="message" name="message" class="form-control" placeholder="Enter message" required></textarea>
  </div>

  <div class="form-group mt-3">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>

  <small>We will reply to your submission via email.</small>
</form>