<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="">TeamWhistle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Application</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" style="padding-top: 80px;">
    <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">

    <div class="container text-center text-md-start mt-5">
      <div>
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
          <h3 class="text-uppercase fw-bold">
            TeamWhistle
          </h3>
        </div>

        <h6 class="text-uppercase fw-bold mb-5">
            Made by Hawkeye Development
        </h6>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="/privacy" class="text-reset">Privacy Policy</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p>
            <i class="fas fa-envelope me-3"></i>
            developmenthawkeye&#64;gmail.com
          </p>
        </div>
      </div>
    </div>
</footer>