<div class="row">
    <div class="col-6">
        <h1>Ensure your match goes perfectly with the help of TeamWhistle</h1>
        <button class="btn btn-primary">Learn more</button>
    </div>
    <div class="col-6">

    </div>
</div>

<div class="row mt-5">
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card">
      <img class="card-img-top" src="/assets/homepageimages/goals.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Goals</h5>
        <p class="card-text">TeamWhistle lets you keep a count of the goals for eitherteam and see a history of in which minute every goal was made.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card">
      <img class="card-img-top" src="/assets/homepageimages/time.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Time</h5>
        <p class="card-text">On the main time view you can see the remaining time, but also other helpful information such as the next expiring card or the timer for players to get ready for a penalty corner</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card">
      <img class="card-img-top" src="/assets/homepageimages/cards.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cards</h5>
        <p class="card-text">With TeamWhistle you can precisely track each card you give with the backnumber, reason and remaining time.</p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card">
      <img class="card-img-top" src="/assets/homepageimages/shootouts.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Shootouts</h5>
        <p class="card-text">Every shootout can be individually accounted for and TeamWhistle will let you know when a winner is decided.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card">
      <img class="card-img-top" src="/assets/homepageimages/metrics.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Workouts</h5>
        <p class="card-text">While running a match, your running speed, distance traveled and heartrate is tracked and saved to your personal health collection.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card">
      <img class="card-img-top" src="/assets/homepageimages/settings.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Customization</h5>
        <p class="card-text">TeamWhistle has highly extensive settings allowing you to control what vibrations, popups and actions occur.</p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
    <h3 class="text-center">And the biggest feature of all...</h3>

    <div class="card mt-3">
        <img class="card-img-top" src="/assets/homepageimages/sync.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Synchronisation</h5>
            <p class="card-text">Users can allow their match to be synchronisaed across their devices, making sure that every action such as pausing the timer or adding a card also happens for other users.
                Now you never have to worry about forgetting to resume the time or incorrectly adding a card!
            </p>
        </div>
    </div>
</div>