<div class="row">
    <div class="col-6">
        <h1>{{ 'home.title' | translate}}</h1>
        <!-- <button class="btn btn-primary">Learn more</button> -->
    </div>
    <div class="col-6">

    </div>
</div>

<div class="row mt-5">
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card">
      <img class="card-img-top" src="assets/homepageimages/goals.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Goals</h5>
        <p class="card-text">{{ 'home.goals' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card">
      <img class="card-img-top" src="assets/homepageimages/time.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Time</h5>
        <p class="card-text">{{ 'home.time' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card">
      <img class="card-img-top" src="assets/homepageimages/cards.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cards</h5>
        <p class="card-text">{{ 'home.cards' | translate }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card">
      <img class="card-img-top" src="assets/homepageimages/shootouts.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Shootouts</h5>
        <p class="card-text">{{ 'home.shootouts' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card">
      <img class="card-img-top" src="assets/homepageimages/metrics.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Workouts</h5>
        <p class="card-text">{{ 'home.workouts' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card">
      <img class="card-img-top" src="assets/homepageimages/settings.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Customization</h5>
        <p class="card-text">{{ 'home.customization' | translate }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
    <h3 class="text-center">{{ 'home.synchronisationHeadline' | translate }}</h3>

    <div class="card mt-3">
        <img class="card-img-top" src="assets/homepageimages/sync.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Synchronisation</h5>
            <p class="card-text">{{ 'home.synchronisation' | translate }}</p>
        </div>
    </div>
</div>